*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    background-color: black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 20%;
    background: rgb(0,0,0,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 30px;
    cursor: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: rgb(249, 159, 249);
    text-shadow: 0 0 25px rgb(238, 146, 215),
                0 0 50px rgb(235, 139, 211);
    transform: scale(1.1);
}
span{
    color: rgb(241, 147, 235);
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
     color: rgb(253, 158, 224);
     border-bottom: 3px solid rgb(236, 156, 227);
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color:rgb(251, 154, 237);
    box-shadow: rgb(233, 168, 221);
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 10% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
    font-style: italic;
    color: white;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
    font-style: italic;
    color: white;
}
.home-content p{
     font-size: 18px;
     margin: 25px 0 30px;
     font-style:oblique;
     color: white;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color: rgb(240, 146, 213);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: rgb(241, 158, 229);
}
.img-box img{
    border-radius: 15%;
    width: 300px;
}

::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(245, 165, 231);
}
::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.60);
    width: 30px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-img img{
    position: relative;
    width: 400px;
    box-shadow: 0 0 25px white,
                0 0 25px white;
 border-radius: 40%;
 padding: right;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 30px;
}
.about-content h3{
    font-size: 50px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 4em 0 3em;
}
.sub-title{
    color: rgb(237, 158, 232);
    background: black;
}
.sub-title h1{
     text-align: center;
     font-size: 50px;
     padding-bottom: 80px;
     padding-top: 75px;
}
.sub-title span{
        color: white;
}
.container1{
    width: 900px;
    height: 650px;
    padding: 75px 75px;
    margin-left: 120px;
}
.heading {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.technical-bars .bar{
    margin: 40px 0;
}
.technical-bars .bar:first-child{
    margin-top: 0;
}
.technical-bars .bar:last-child{
    margin-bottom: 0;
}
.technical-bars .bar .info{
    margin-bottom: 5px;
}
.technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}
.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: navajowhite;
    animation: animate 1s cubic-bezier(1,0,0.5,1)forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: green;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 85%;
}
.progress-line.java span{
    width: 60%;
}
.progress-line.python span{
    width: 50%;
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
    color: azure;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(244, 167, 216);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
.footer{
 
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(0, 0, 1);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid rgb(242, 152, 231);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px rgb(242, 162, 227), 0 0 10px rgb(240, 154, 233);
    transition: 0 3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: rgb(243, 141, 239);
    border: 2px solid rgb(253, 164, 244);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid rgb(228, 123, 198);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}